@model Koleg.io.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add User To Role</h2>
@using (Html.BeginForm("AddUserToRole", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedEmail, "User's Email")
        @Html.DropDownListFor(m => m.SelectedEmail, new SelectList(Model.Emails), "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRole, "User's Role")
        @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles), "", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Add</button>
}

