main {
    margin-top: 30px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    text-align: center;
    margin: 40px 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

    /* Full-width images with number and caption text */
.mySlides img {
    width: 50%;
    margin: auto; /* Center the image */
    display: block;
    height: 500px;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#title {
    animation: bounce 2s infinite;
    text-align: center;
}

.card {
    width: 624px;
    height: 455px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.card img {
    max-width: 100%; /* Make images responsive within cards */
    height: 290px;
    border-radius: inherit;
}

.my-card img {
    max-width: 100%; /* Make images responsive within cards */
    /*            height: 30%;
*/ border-radius: inherit;
}

.my-card {
    width: 300px;
    height: auto;
    margin: auto;
}

    .my-card .btn {
        margin-right: 0px;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Add emojis to the quote */
#fun-quote {
    font-size: 18px;
    margin-top: 20px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem
}
