/* Subjects.css */

/* Add pastel colors to the cards */
.card {
    background-color: #d5e3e8; /* Pastel Pink */
    /*background-color: #aec6cf;*/ /* Pastel Pink */
    border: 2px solid transparent;
    color: black; /* Border color same as background color */
}


.btn-danger {
    background-color: #f08080; /* Pastel Coral */
    border-color: #f08080; /* Border color same as background color */
    color: #fff; /* Text color */
}

/* Adjust the layout of the cards */
.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.5rem;
    margin:0;
}

.card-text {
    flex-grow: 1;
}

/* Center the buttons */
.text-center {
    text-align: center;
}

/* Add margin to the Edit button for better spacing */
.btn-info.edit {
}
/* Subjects.css */

/* Subjects.css */

/* Add pastel colors to the cards */
.my-card {
    background-color: #d5e3e8; /* Pastel Pink */
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    height: 250px; 
    width: 210px;
}

.my-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.my-card h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 1em; 
}

.my-card .text-center {
    margin-top: 5px;
}

.my-card .btn {
    margin-right: 5px;
}
