@{
    ViewBag.Title = "Info";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex mx-auto align-items-center text-center" aria-labelledby="title">
                <div>
                    <h2 id="title">@ViewBag.Title.</h2>
                    <p>
                        <h3>@ViewBag.Message</h3>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/confirmation.png" class="img-fluid" alt="Confirmation Image" width="50%" />
            </div>
        </div>
    </div>
</main>